@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: "Jost", sans-serif;
$font-cormorant: "Cormorant", serif;
html {
    font-size: 10px;
}
body {
    color: $green;
    font-size: 1.6rem;
    font-family: $font-jost;
}
.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 3rem 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        padding-right: 128px;
        gap: 4.8rem;
    }
    &__link {
        font-family: Jost;

        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.13rem;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $orange;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        margin-left: -39px;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: 0.8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: 0.7rem;
    }
}
.logo {
    display: block;
    background-image: url("../images/logo.png");
    width: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    z-index:0;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 5rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        text-align: left;
        color: $green;

        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: "";
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1 {
            top: 47px;
            left: 62px;
            &::before {
                bottom: 6px;
                right: -34px;
            }
        }
        &_2 {
            top: 195px;
            right: 3px;
            &::before {
                top: 14px;
                left: -25px;
            }
        }
        &_3 {
            bottom: -46px;
            right: 244px;
            &::before {
                top: -26px;
                right: 31px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom: 116px;
        right: 126px;
        width: 11rem;
    }
    &__avocado {
        position: absolute;
z-index:-1;
        top: 34px;
        right: 0px;
        width: 17, 8rem;
    }
    &__cucumber {
        position: absolute;
        top: -8px;
        left: 692px;
        width: 9, 1rem;
    }
    &__pepper {
        position: absolute;
        top: 389px;
        left: 39px;
        width: 8.5rem;
    }
    &__grushas {
        position: absolute;
        top: 787px;
        left: 0px;
        width: 10, 6rem;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    margin-bottom: 63px;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
}
.link {
    color: white;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    letter-spacing: 0.13rem;
}
